  <div class="index-card" >    
    <div class="row headings red-stripe">
      <div class="large-8 medium-8 columns">
        <p>Name</p>
      </div>

      <div class="large-1 medium-1 columns text-center">
        <p>Reg No.</p>
      </div>
      
      <div class="large-1 medium-1 columns text-center">
        <p>Cor No.</p>
      </div>
      
      <div class="large-2 medium-2 columns text-center">
        <p>Bk No.</p>
      </div>
    </div>

    <div class="row name">
      <div class="large-8 medium-8 columns">
        <p>{{last_name}}, {{first_name}}</p>
      </div>

      <div class="large-1 medium-1 columns text-center">
        <p>1180</p>
      </div>
      
      <div class="large-1 medium-1 columns text-center">
        <p>A2A</p>
      </div>
      
      <div class="large-2 medium-2 columns text-center">
        <p>0002191</p>
      </div>

    </div>

    <div class="row headings blue-stripe">
      <div class="large-4 medium-4 large-offset-4 medium-offset-4 columns">
        <p>City, Villiage or Township</p>
      </div>
      
      <div class="large-4 medium-4 columns">
        <p>PO Address</p>
      </div>
    </div>

    <div class="row name">
      <div class="large-4 medium-4 large-offset-4 medium-offset-4 columns">
        <p>{{city}}</p>
      </div>
      
      <div class="large-4 medium-4 columns">
        <p>{{postal_code}}</p>
      </div>
    </div>

    <div class="row headings blue-stripe">      
      <div class="large-4 medium-4 large-offset-4 medium-offset-4 columns">
        <p>Email Address</p>
      </div>
    </div>

    <div class="row name">
      <div class="large-8 medium-8 large-offset-4 medium-offset-4 columns">
        <p>{{email_address}}</p>
      </div>
    </div>

    <div class="row headings blue-stripe">      
      <div class="large-4 medium-4 large-offset-4 medium-offset-4 columns">
        <p>Phone Number</p>
      </div>
    </div>

    <div class="row name">
      <div class="large-8 medium-8 large-offset-4 medium-offset-4 columns">
        <p>{{phone_number}}</p>
      </div>
    </div>

    <div class="row headings blue-stripe">      
      <div class="large-4 medium-4 large-offset-4 medium-offset-4 columns">
        <p>Date of Birth</p>
      </div>
    </div>

    <div class="row name">
      <div class="large-8 medium-8 large-offset-4 medium-offset-4 columns">
        <p>{{date_of_birth}}</p>
      </div>
    </div>

    <img 
      class="profile" 
      src="{{image_url}}" />
  </div>